.video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.video-tab {
    grid-area: tab;
}

.more-vids {
    grid-area: more;
}

.videopage-list {
    display: grid;
    grid-template-areas: 
    'tab tab more';
}