.video-player iframe {
    width: 800px;
    height: 450px;
}

.video-player-dets {
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-player-dets img {
    min-width: 40px;
    height: 40px;
    border-radius: 30px;
    /* align-self: flex-start; */
}

.video-player-icons {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #a69c9c;
}
