.head-grid {
  grid-area: head;
}

.nav-bar-grid {
  grid-area: nav;
}

.pages-grid {
  grid-area: pages;
}

.container {
  display: grid;
  grid-template-areas:
    'head head head'
    'nav pages pages';
}